allow surfaceflinger sw_sync_device:chr_file { read write ioctl open };
allow surfaceflinger hwc_prop:property_service set;
# O
allow surfaceflinger proc:file { write ioctl };
allow surfaceflinger guiext-server_service:service_manager find;
